.gallery {
    position: absolute;
    width: 100vw;
    display: none;
    grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
    background-color: var(--clr2);
    border-radius: 1em;
}

.gallery.open {
    display: grid;
}

.gallery img {

    margin: 2em auto;
    width: 6em;
    border-radius: 1em;
    cursor: pointer;
}

@media (min-width:720px) {
    .gallery { 
        align-self: flex-start;
        gap: 5em;
    }

    .gallery img {
        width: 9em;
    }
    
}

@media (min-width: 1120px) {
    
}

