.main-header {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    border-radius: 5em;
    margin: 1em auto;
}

.main-header .logo {
    height: 2.14em;
    margin: 0.71em;
}

@media (max-width: 920px) {

    .main-header .logo {
        height: 1.14em;
        margin: 0.61em;
    }
}