.share-container {
    background-color: red;
    width: 25%;
    /* height: 5%; */
    border-radius: 2em;
    /* position: relative; */
    /* transform: translate(10%, 10%); */
    /* z-index: 20; */

}